* { 
  box-sizing: border-box;
}

body {
  background-color: #0B352E;
}

h4 {
  font-size: 40px;
  text-align: center;
  margin: 20px;
  margin-top: 60px;
  text-decoration: none;
  font-family: 'Ubuntu', sans-serif;
}
h6 {
  font-size: 20px;
  color: white;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: 'Ubuntu', sans-serif;
}

a {
  color: #E44221;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #E44221;
}
.enterbox {
  text-align: center;
}
input {
  width: 40px;
  border-radius: 30px;
  transition: width 1s;
  padding-left: 15px;
   
}
input:focus {
  width: 200px;
  transition-time: 2s;
}

.contentbox {
  padding: 5%;  
}

li {
  padding: 10px;
  font-size: 20px;
  font-family: 'Ubuntu', sans-serif;
}